header {
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 150px; 
  background-color: khaki;
  border-style: double;
  border-radius: 2em;
  border-width: 0.4em;
  }


button {
    padding: 0.5em 1em;
    background-color: khaki;
    color:black;
    border-radius: 0.25em;
    display: inline;
  }
  
  button:hover {
    background-color: beige
  }



.form-field {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25em; 
    border-top: black;
    border-width: 0.01em;
    flex: 2;
    padding: 0.5em;
}

.help-text{
  flex:1;
  font-size: 1em;
}

.recipe-list a {
  flex: 1;
  font-size: 1.5rem;
  text-decoration: underline;
  color: black;
  font-weight: bold;
  
}

.recipe-list a:hover {
  color: tomato;
}

.recipe-list li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em;
  border-bottom: 0.05em solid dimgrey;
  border-top: 0.05em solid dimgrey;
  background: inherit;
}

.recipe-title-section {
  flex: 1; 
  min-width: 50px; 
  line-height: 1
}
.recipe-image-section {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.recipe-image-section img {
  height: 14em;
  border-radius: 5px;
  object-fit: contain;
  width: auto;
}

a {
  text-decoration: underline;
  color:black;
  font-weight: bold;
}

a:hover {
  color: tomato;
}

body{
  font-family: Verdana, sans-serif;
}