header {
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 150px; 
  background-color: khaki;
  border-style: double;
  border-radius: 2em;
  border-width: 0.4em;
  }


button {
    padding: 0.5em 1em;
    background-color: khaki;
    color:black;
    border-radius: 0.25em;
    display: inline;
  }
  
  button:hover {
    background-color: beige
  }

  body{
    font-family: Verdana, sans-serif;
  }

.form-field {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25em; 
    border-top: black;
    border-width: 0.01em;
    flex: 2;
    padding: 0.5em;
}

.help-text{
  flex:1;
  font-size: 1em;
}