.recipe-box {
    max-width: 80%;
    margin: 1em auto;
    padding: 1em;
    background-color: antiquewhite;
    border-radius: 0.5em;
    display: block;
    justify-content: space-between;
  }

.recipe-title{
    font-size: 2em;
}

.recipe-subtitles{
    font-size: 1.5em;
}

.recipe-page-image{
    max-height: 30em;
}

.comment-box{
    display:flex;
    padding: 1em;
    background-color: khaki;
    border-radius: 0.5em;
    margin:0.5em;
    border-width:0.1em;
    border-color:black;
    border-style: double;

}

.profile-section{
    flex:0.35;
    border-right:double;
    border-width:0.1em;
}

.comment-section{
    margin-left:0.5em;
    flex:1;
}

.tag-section{
    display:inline;
    padding: 0.5em;
    background-color: khaki;
    border-radius: 0.5em;
    margin:0.5em;
    border-width:0.1em;
    border-color:black;
    border-style: double;
}