.register-container {
    background-color: antiquewhite;
    padding: 20px;
    border-radius: 10px;
    width: 70%;
    margin: 50px auto;
    text-align: center;
    font-family: Arial, sans-serif;
}

.register-container input {
    padding: 5px;
    width: 80%;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.register-container button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.register-container button:hover {
    background-color: #45a049;
}

