.search-bar{
    text-align: center;
}

.search-results-box {
    max-width: 80%;
    margin: 1em auto;
    padding: 1em;
    background-color: antiquewhite;
    border-radius: 0.5em;
}

.recipe-image img{
    width: 10em;
    height: 10em;
    border-radius: 5px;
    object-fit: cover;
}
.tag-section{
    display:block
}
.tag-box{
    display:inline;
    padding: 0.5em;
    font-size:1em;
    background-color: khaki;
    border-radius: 0.5em;
    margin:0.5em;
    border-width:0.1em;
    border-color:black;
    border-style: double;
}
.tag-box a{
    font-size:1em
}
.tag-section{
    padding:2em;
    flex-basis: 100%;
}
h3{
    display:inline;
}