.form-box{
    max-width: 80%;
    margin: 1em auto;
    padding: 1em;
    background-color: antiquewhite;
    border-radius: 0.5em;
}

.recipe-form {
    display: flex;
    flex-direction: column;
    gap: 0.75em;
}


button[type="submit"]{
    display: block;     
    margin: 1em auto;
    padding: 0.5em 5em;
}