{% extends 'recipes/base.html' %}
{% load static %}

{% block title_block %}Add Tags to {{ recipe.title }}{% endblock %}

{% block header_block %}
<img src="{% static 'images/headers/homepage_header.png'%}"/>
{% endblock %}


{% block body_block %}
<link rel="stylesheet" href="{% static 'stylesheets/upload_recipe_styles.css' %}">

<div class="form-box">
    <h1>Add Tags to {{ recipe.title }}</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-field">
            <span class="help-text">{{ form.existing_tags.help_text }}</span>
            <ul class="checkbox-list">
                {% for checkbox in form.existing_tags %}
                    <li>{{ checkbox }}</li>
                {% endfor %}
            </ul>
            {{ form.existing_tags.errors }}
        </div>
        <div class="form-field">
            <span class="help-text">{{ form.new_tags.help_text }}</span>
            {{ form.new_tags }}
            {{ form.new_tags.errors }}
        </div>
        <button type="submit">Add Tags</button>
    </form>
</div>
{% endblock %}
