<!DOCTYPE html>
{% load static %}
<html>
  <head lang="en">
  <meta charset="UTF-8"/>
  <link rel="icon" href="{% static 'images/icon.png' %}">
  <link rel="stylesheet" href="{% static 'stylesheets/base_styles.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <script type="text/javascript" src="{% static 'scripts/jquery-3.7.1.js' %}"></script>
  <script src="{% static 'scripts/recipe.js' %}"></script>
  <style>
  body {
    background-image: url("{% static 'images/background.jpg' %}");
    background-size: cover;
    background-position: center;
  }
  </style>
    <title>
    FlavorFolio
      {% block title_block %}
        The ultimate recipe sharing platform
      {% endblock %}
      
    </title>

  </head>

  <body>
    <header>
    <a href="{% url 'recipes:index' %}">
      {% block header_block %}
      NO ARGUMENT PASSED INTO header_block
      {% endblock %}
    </a>
    </header>

    <div>
    
      {% block body_block %}
        NO ARGUMENT PASSED INTO body_block
      {% endblock %}

    </div>

  </body>

</html>
