{% extends 'recipes/base.html' %}
{% load static %}

{% block title_block %}
FlavourFolio - Homepage
{% endblock %}

{% block header_block %}
<img src="{% static 'images/headers/homepage_header.png'%}"/>
{% endblock %}

{% block body_block %}
<link rel="stylesheet" href="{% static 'stylesheets/homepage_styles.css' %}">
<div class="container">
    <div class="main-content">
        <div class="left-section">
            <div class="welcome-box">
                <h1>Welcome to FlavourFolio!</h1>
            </div>

            <div class="recipes-box">
                <h3>New Recipes:</h3>
                <ul class="recipe-list">
                    
                    {% for recipe in recipes|slice:":5" %}
                        <li>
                            <h1><a href="{% url 'recipes:recipe' recipe.id %}">{{ recipe.title }}</a></h1>
                            <img src="{{ recipe.image.url }}" class="recipe-image" alt="Recipe image">
                        </li>
                    {% endfor %}
                </ul>
            </div>
            
        </div>

        <div class="right-section">
            <div class="buttons">

                <a href="{% url 'recipes:search' %}">
                <button class="homepage-button">Search</button>
                </a>

                <a href="{% url 'recipes:register' %}">
                <button class="homepage-button">Sign Up</button>
                </a>

                <a href="{% url 'recipes:login' %}">
                <button class="homepage-button">Login</button>
                </a>
            </div>

        <img src="{% static 'images/food.jpg' %}" class="image">
        </div>
    </div>
</div>

{% endblock %}
