{% extends 'recipes/base.html' %}
{% load static %}

{% block title_block %}
  Profile
{% endblock %}

{% block header_block %}
<img src="{% static 'images/headers/profile_header.png' %}"/>
{% endblock %}

{% block body_block %}
  
  <link rel="stylesheet" href="{% static 'stylesheets/profile_styles.css' %}">

  <div class="profile-box">

    <div class="profile-picture-and-name">
        {% if user_profile.picture %}
          <img class="header-image" src="{{ user_profile.picture.url }}" alt="Profile Picture">
        {% else %}
          No Profile Picture
        {% endif %}
        <h3>{{ user_profile.user.username }}</h3>
    </div>

    <div class="bio">
      <h4>Bio:</h4>
      <p>{{ user_profile.bio }}</p>
    </div>
    <div class="my-recipes">
        <h4>My Recipes:</h4>
        <ul class="recipe-list">
        {% for recipe in recipes%}
          <li>
              <h4><a href="{% url 'recipes:recipe' recipe.id %}">{{ recipe.title }}</a></h4>
              <a href="{% url 'recipes:recipe' recipe.id %}"><img src="{{ recipe.image.url }}" class="recipe-image" alt="Recipe image"></a>
              
          </li>
        {% endfor %}
        </ul>

      </div>

    
  </div>

  {% if user_profile.user == user %}

  <div class="button-box">
    <a href="{% url 'recipes:edit_bio' %}"><button type="button">Edit Bio</button></a>
    <a href="{% url 'recipes:upload_new_profile_picture' %}"><button type="button">Upload New Profile Picture</button></a>
    <a href="{% url 'recipes:upload_recipe' %}"><button type="submit" name="upload_recipe">Upload New Recipe</button></a>
    <form action="{% url 'recipes:delete_account' %}" method="post" 
          onsubmit="return confirm('Are you 100% sure you want to delete your account? This action cannot be undone.');">
        {% csrf_token %}
        <button type="submit" class="red-button">Delete Account</button>
    </form>

  </div>
  {% endif %}
  

{% endblock %}
