{% extends 'recipes/base.html' %}
{% load static %}

{% block title_block %}
FlavourFolio - {{ recipe.title }}
{% endblock %}

{% block header_block %}
<img src="{% static 'images/headers/homepage_header.png'%}"/>
{% endblock %}

{% block body_block %}

<p>{{ recipe.title }}</p>
<img src="{{ recipe.image.url }}" class="recipe-image" alt="Recipe image">
<p>{{ recipe.ingredients }}</p>
<p>{{ recipe.instructions }}</p>

<ul>
  {% for comment in recipe.comments.all %}
    <li>{{ comment.user.username }} - {{ comment.content }}</li>
  {% endfor %}
</ul>

<ul>
  {% for tag in tags %}
    <li><a href="{% url 'recipes:tag' tag.name %}">{{ tag.name }}</a></li>
  {% endfor %}
</ul>

{% endblock %}
