{% extends 'recipes/base.html' %}
{% load static %}

{% block title_block %}
FlavourFolio - {{ recipe.title }}
{% endblock %}

{% block header_block %}
<img src="{% static 'images/headers/homepage_header.png'%}"/>
{% endblock %}

{% block body_block %}
<link rel="stylesheet" href="{% static 'stylesheets/recipe_styles.css' %}">
<div class="recipe-box">
<h1 class="recipe-title">{{ recipe.title }}</h1>
<img src="{{ recipe.image.url }}" class="recipe-page-image" alt="Recipe image">

<h1 class="recipe-subtitles">
  Author: <a href="/profile/{{ recipe.user.id }}">{{ recipe.user.username }}</a></h1>

<h1 class="recipe-subtitles">Ingredients:</h1>
<p>{{ recipe.ingredients }}</p>

<h1 class="recipe-subtitles">Instructions:</h1>
<p>{{ recipe.instructions }}</p>

<h1 class="recipe-subtitles">Recipe Tags:</h1>

  {% for tag in tags %}
  
    <div class="tag-section"><a href="{% url 'recipes:tag' tag.name %}">{{ tag.name }}</a></div>
  {% endfor %}


</div>

<div class="recipe-box">
<h1 class="recipe-subtitles">Comments</h1>
{% if recipe.comments.all %}

    {% for comment in recipe.comments.all %}
    <div class="comment-box">
    <div class="profile-section">
      <h3> <a href="/profile/{{ comment.user.id }}">{{ comment.user.username }}</a></h3>
    </div>
    <div class="comment-section">
      {{ comment.content }}
    </div>
    </div>
    {% endfor %}


{% else %}
    <p>There aren't any comments yet.</p>
{% endif %}
</div>



{% endblock %}
