{% extends 'recipes/base.html' %}
{% load static %}

{% block title_block %}
    FlavourFolio - {{ search.search_query }}
{% endblock %}

{% block header_block %}
    <img src="{% static 'images/headers/search_header.png' %}" alt="Search Header">
{% endblock %}

{% block body_block %}
<link rel="stylesheet" href="{% static 'stylesheets/search_styles.css' %}">
    <form method="GET" action="{% url 'recipes:search' %}">
        <input type="text" name="search_query" placeholder="Search Recipes..." value="{{ search_query }}">
        <button type="submit">Search</button>
    </form>

{% if results %}
    <ul class="search_results_box">
        {% for recipe in results %}
            <li><a href="{% url 'recipes:recipe' recipe.id %}">{{ recipe.title }}</a> <img src="{{ recipe.image.url }}" class="recipe-image" alt=""></li>
        {% endfor %}
    </ul>
{% else %}
    <p>No results found.</p>
{% endif %}
{% endblock %}