{% extends 'recipes/base.html' %}
{% load static %}

{% block title_block %}
FlavourFolio - {{ tag.name }} tag
{% endblock %}

{% block header_block %}
<img src="{% static 'images/headers/tag_header.png'%}"/>
{% endblock %}

{% block body_block %}
<link rel="stylesheet" href="{% static 'stylesheets/tag_styles.css' %}">
<div class="tags-box">
  <h1>{{ tag.name }} Recipes</h1>
  <ul class="recipe-list">
    {% for recipe in tag.recipes.all %}
      <li>
        <a href="{% url 'recipes:recipe' recipe.id %}">{{ recipe.title }}</a>
        <a href="{% url 'recipes:recipe' recipe.id %}"><img src="{{ recipe.image.url }}" class="recipe-image" alt="Recipe image"></a>
      </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
