{% extends 'recipes/base.html' %}
{% load static %}

{% block title_block %}
    Upload Recipe
{% endblock %}

{% block header_block %}
    <img src="{% static 'images/headers/profile_header.png' %}">
{% endblock %}

{% block body_block %}
<link rel="stylesheet" href="{% static 'stylesheets/profile_styles.css' %}">

<div class="profile-box">
    <form class="recipe-form" method="post" action="{% url 'recipes:profile' user_id=user.id  %}">
        {% csrf_token %}
        {% for field in form.visible_fields %}
            <div class="form-field">
                <span class="help-text">{{ field.help_text }}</span> 
                {{ field }} 
                {{ field.errors }}
            </div>
        {% endfor %}
        
        <button type="submit">Submit</button>
    </form>
</div>
{% endblock %}
